<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name = "eventFile" fileName = "logs/event.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name = "healthFile" fileName = "logs/health.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name = "exceptionFile" fileName = "logs/exception.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name = "rootFile" fileName = "logs/root.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name ="eventLog" level = "debug" additivity="false">
            <AppenderRef ref = "eventFile" level = "debug"/>
        </Logger>

        <Logger name ="healthLog" level = "info" additivity="false">
            <AppenderRef ref = "healthFile" level = "debug"/>
        </Logger>
        <Logger name ="exceptionLog" level = "error" additivity="false">
            <AppenderRef ref = "exceptionFile" level = "debug"/>
        </Logger>


    </Loggers>
</Configuration>